[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
turkish-normalization = {editable = true,path = "./../turkish_normalization"}

[requires]
python_version = "3.6"
